<div class="row" style="margin-top: 100px;">
  <div class="col-md-3 col-sm-6 m-auto text-center">
    <h1>Sign up</h1>
    <form *ngIf="user" (ngSubmit)="login()" ngNativeValidate>
      <div class="form-group text-left">
        <label for="email">Email</label>
        <input
          [(ngModel)]="user.username"
          name="email"
          type="email"
          required
          class="form-control"
          id="email"
          placeholder="enter your email"
        />
      </div>
      <div class="form-group text-left">
        <label for="password">Password</label>
        <input
          [(ngModel)]="user.password"
          name="password"
          type="password"
          required
          class="form-control"
          id="password"
          placeholder="enter a password"
        />
      </div>
      <div>
        <button
          [disabled]="loading$ | async"
          type="submit"
          class="btn btn-primary"
        >
          Sign up
        </button>
      </div>
    </form>
    <div>
      <span>Already a user?&nbsp;</span>
      <a [routerLink]="['/login']">Log in!</a>
    </div>
  </div>
</div>
