<mat-toolbar color="primary">
  <span>{{ title }}</span>
  <!-- <button mat-flat-button color="primary" routerLinkActive="active" routerLink="home">
    Home
  </button> -->
  <button mat-flat-button color="primary" routerLinkActive="active" routerLink="dashboard">
    Dashboard
  </button>
  <button mat-flat-button color="primary" routerLinkActive="active" routerLink="admin">
    Admin
  </button>
  <div style="float: right;">
    <p *ngIf="userName$ | async as user">
      {{ user }}
    </p>
  </div>
</mat-toolbar>

<main>
  <router-outlet></router-outlet>
</main>